# Ambiente virtual
.venv/
venv/
ENV/
env/

# Bytecode Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Arquivos de log e saídas geradas
output/*
!output/.gitkeep

# Temporários, backups
*.tmp
*.swp
*.bak

# Arquivos do sistema/macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Build e empacotamento
*.zip
*.egg-info/
dist/
build/
